@font-face {
  font-family: "iconfont"; /* Project id 3448352 */
  src: url('iconfont.woff2?t=1654308984563') format('woff2'),
       url('iconfont.woff?t=1654308984563') format('woff'),
       url('iconfont.ttf?t=1654308984563') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yousanjiaoxing:before {
  content: "\e644";
}

.icon-xiazai:before {
  content: "\e668";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-cancel-1-copy:before {
  content: "\e61a";
}

.icon-QQmusic:before {
  content: "\e615";
}

.icon-sousuo:before {
  content: "\e603";
}

